$corDeFundo: #e67e22;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario:#d35400;
$corDeFundoBotaoDark: #d35400;



/* #040714; */
/*  #0063e5; */